#header-description {
    position: absolute;
    display: flex;
    z-index: 3;
    margin: auto;
    justify-content: center;
    left: 15%;
    width: 70%;
    padding: 20px;
    top: 40%;
    color: white;
    text-align: center;
    background-color: rgba(88, 88, 88, 0.8)
}
#product-header-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: none;
}
#lumber-description-container {
    background-image: url(../../images/main-page-header1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: auto;
}