#contact-form-container {
  position: relative;
  display: flex;
  margin: auto;
  text-align: center;
  width: 100vw;
  height: auto;
  bottom: 80px;
  padding: 0;
  background-image: url(../../images/main-page-header1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#contact-form-container {
  position: relative;
  display: grid;
  grid-template-columns: 50% 40%;
  justify-content: center;
}
.contact-icons {
  position: relative;
  margin-right: 20px;
}
#left-contact-details {
  position: relative;
  display: block;
  color: white;
  background-color: rgb(36, 38, 41, 0.8);
  width: 50%;
  height: auto;
  padding: 30px;
  margin: auto;
  font-size: 24px;
}
#left-contact-container h1{
  color: white;
  font-size: 38px;
}
#left-contact-details p{
  margin-top: 30px;
  margin-bottom: 30px;
}
#left-contact-details a{
  text-decoration: none;
  color: white;
}
.inputContainer {
  width: 80%;
  color: #bebed2;
  height:contain;
  background-color: rgb(36, 38, 41, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 3;
}
.inputContainer h2 {
  color: white;
}
.inputfield {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  color: rgb(195, 192, 192);
}

.inputfield:focus {
  border-bottom: 2px solid #646464;
}
.inputfield p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
.checkboxform {
  position: relative;
  display: inline-block;
}
.checkboxOptions {
  display: block;
}
#btn {
  display: flex;
  padding: 18px 20px;
  margin: auto;
  width: 160px;
  height: auto;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background: rgb(238, 238, 238);
  color: black;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
  border-bottom: 6px solid rgb(246, 207, 10);
}
#btn:hover {
  background: rgb(149, 149, 149);
  color: #fff;
}


@media screen and (max-width: 425px) {
  .inputContainer {
    width: 100%;
    background-color: rgb(36, 38, 41, 0.9);
  }
  .socialMediaBtns .icons {
    width: 25px;
    height: 25px;
  }
}
