.swiper {
    position: relative;
    display: flex;
    width: 100vw;
    height: auto;
}
.swiper-pictures {
    position: relative;
    display: flex;
    justify-content: center;
}
.swiper-pictures img {
    width: 40%;
}
#header-banner {
    width: 100%;
    background-size: contain;
}
@media screen and (max-width:550px){
    .swiper-pictures img {
        width: 100%;
    }
}