.swiper {
    position: relative;
    display: flex;
    width: 99vw;
    height: auto;
    bottom: 50px;
}
.swiper-pictures {
    position: relative;
    display: flex;
    justify-content: center;
}
.swiper-pictures img {
    width: 40%;
}
@media screen and (max-width:550px){
    .swiper-pictures img {
        width: 100%;
    }
    .swiper {
        bottom: 90px;
        padding: 0;
        margin: 0;
        border: 0;
    }
}